html {
  font-size: 18px;
}

/* Base page styling */
body {
  width: 800px;
  margin: 0 auto;
  background-color: white;
  color: black;
  font-family: 'Georgia', serif;
  font-size: 0.875rem;
  line-height: 1.5;
}

/* Heading styles */
h1 {
  font-size: 2.5rem;
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
  font-style: italic;
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  width: 100%;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1rem;
  text-decoration: underline;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* List styling */
ul {
  list-style-type: disc;
  padding-left: 2em;
}

/* General content spacing */
p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

p.footer {
  text-align: center;
  padding: 1.5em 0;
}

#skills + ul {
  column-count: 3;
}

#skills + ul li {
  padding-bottom: 0.25rem;
}

@media print {
  html {
    font-size: 16px;
  }

  #links + ul > li > a::after {
    content: " (" attr(href) ")";
  }
}
