<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule superlinks/+ https://github.com/rustygeldmacher/superlinks [R=301,L]
  RewriteRule ireland-trip-2003/+ /2005/10/01/ireland-trip-2003.html [R=301,L]
  RewriteRule angels-landing-hike/+ /2010/07/31/angels-landing-hike.html [R=301,L]
  RewriteRule 2008/01/26/flume-gorge-snowshoeing/+ /2008/01/26/flume-gorge-snowshoeing.html
  RewriteRule 2009/09/15/mount-washington/+ /2009/09/13/mount-washington-hike.html [R=301,L]
  RewriteRule mount-washington-hike/+ /2009/09/13/mount-washington-hike.html [R=301,L]
	RewriteRule mount-jefferson-and-mount-adams-day-hike/+ /2007/08/22/mount-jefferson-and-mount-adams-day-hike.html [R=301,L]
	RewriteRule southern-presidentials-hike/+ /2006/08/13/southern-presidentials-hike.html [R=301,L]
	RewriteRule mt-madison-hike/+ /2003/08/22/mt-madison-hike.html [R=301,L]
	RewriteRule pemigewasset-wildernesss-loop/+ /2006/06/30/pemigewasset-wildernesss-loop.html [R=301,L]
	RewriteRule carter-ridge-hike/+ /2005/07/02/carter-ridge-hike.html [R=301,L]
	RewriteRule mount-moosilauke-hike/+ /2010/07/03/mount-moosilauke-hike.html [R=301,L]
	RewriteRule southern-presidentials-hike/+ /2006/08/13/southern-presidentials-hike.html [R=301,L]
	RewriteRule north-twin-hike/+ /2007/07/05/north-twin-hike.html [R=301,L]
	RewriteRule mt-carrigain-hike/+ /2006/08/12/mt-carrigain-hike.html [R=301,L]
	RewriteRule mt-bond-hike/+ /2004/09/04/mt-bond-hike.html [R=301,L]
	RewriteRule carter-ridge-hike/+ /2005/07/02/carter-ridge-hike.html [R=301,L]
	RewriteRule mt-bond-hike/+ /2004/09/04/mt-bond-hike.html [R=301,L]
	RewriteRule pemigewasset-wildernesss-loop/+ /2006/06/30/pemigewasset-wildernesss-loop.html [R=301,L]
	RewriteRule carter-ridge-hike/+ /2005/07/02/carter-ridge-hike.html [R=301,L]
	RewriteRule wildcat-ridge-hike/+ /2008/11/02/wildcat-ridge-hike.html [R=301,L]
	RewriteRule hancock-loop-hike/+ /2004/06/05/hancock-loop-hike.html [R=301,L]
	RewriteRule kinsmans-hike/+ /2008/09/13/kinsmans-hike.html [R=301,L]
	RewriteRule mt-willey-and-mt-field-hike/+ /2005/10/22/mt-willey-and-mt-field-hike.html [R=301,L]
	RewriteRule mt-osceola-hike/+ /2008/08/17/mt-osceola-hike.html [R=301,L]
	RewriteRule pemigewasset-wildernesss-loop/+ /2006/06/30/pemigewasset-wildernesss-loop.html [R=301,L]
	RewriteRule hancock-loop-hike/+ /2004/06/05/hancock-loop-hike.html [R=301,L]
	RewriteRule southern-presidentials-hike/+ /2006/08/13/southern-presidentials-hike.html [R=301,L]
	RewriteRule kinsmans-hike/+ /2008/09/13/kinsmans-hike.html [R=301,L]
	RewriteRule mt-willey-and-mt-field-hike/+ /2005/10/22/mt-willey-and-mt-field-hike.html [R=301,L]
	RewriteRule pemigewasset-wildernesss-loop/+ /2006/06/30/pemigewasset-wildernesss-loop.html [R=301,L]
	RewriteRule mt-bond-hike/+ /2004/09/04/mt-bond-hike.html [R=301,L]
	RewriteRule sandwich-range-hike/+ /2007/06/23/sandwich-range-hike.html [R=301,L]
	RewriteRule mount-cabot-hike/+ /2007/07/07/mount-cabot-hike.html [R=301,L]
	RewriteRule east-osceola-winter-summit/+ /2008/02/16/east-osceola-winter-summit.html [R=301,L]
	RewriteRule sandwich-range-hike/+ /2007/06/23/sandwich-range-hike.html [R=301,L]
	RewriteRule cannon-mountain-hike/+ /2008/08/17/cannon-mountain-hike.html [R=301,L]
	RewriteRule mt-hale-and-mt-tom-hike/+ /2006/05/20/mt-hale-and-mt-tom-hike.html [R=301,L]
	RewriteRule southern-presidentials-hike/+ /2006/08/13/southern-presidentials-hike.html [R=301,L]
	RewriteRule mt-hale-and-mt-tom-hike/+ /2006/05/20/mt-hale-and-mt-tom-hike.html [R=301,L]
	RewriteRule wildcat-ridge-hike/+ /2008/11/02/wildcat-ridge-hike.html [R=301,L]
	RewriteRule carter-ridge-hike/+ /2005/07/02/carter-ridge-hike.html [R=301,L]
	RewriteRule sandwich-range-hike/+ /2007/06/23/sandwich-range-hike.html [R=301,L]
	RewriteRule owls-head-hike/+ /2009/05/29/owls-head-hike.html [R=301,L]
	RewriteRule pemigewasset-wildernesss-loop/+ /2006/06/30/pemigewasset-wildernesss-loop.html [R=301,L]
	RewriteRule sandwich-range-hike/+ /2007/06/23/sandwich-range-hike.html [R=301,L]
	RewriteRule mt-waumbek-hike/+ /2007/01/27/mt-waumbek-hike.html [R=301,L]
	RewriteRule mt-isolation-hike/+ /2006/07/17/mt-isolation-hike.html [R=301,L]
	RewriteRule mt-tecumseh-day-hike/+ /2007/11/24/mt-tecumseh-day-hike.html [R=301,L]
</IfModule>
