<!doctype html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NKQ8N8Y62D"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-NKQ8N8Y62D');
    </script>

    <meta charset="utf-8">
    <title>rusty's home on the web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/styles/custom.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/js/jquery.tablesorter.min.js"></script>
  </head>

{% if page.body_class %}
  <body class="{{ page.body_class }}">
{% else %}
  <body>
{% endif %}

    <div class="container">

      {% if layout.navbar or page.navbar %}
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <a class="brand" href="/">&#8604; geldmacher.net</a>
        </div>
      </div>
      {% endif %}

      <div class="row">
        <div class="span4 sidebar">
          {% unless page.layout == 'good_eats_post' %}
          <h1>{{ page.title }}</h1>
          {% endunless %}
          {% contentblock sidebar %}
        </div>
        <div class="span8 offset4 main">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
