@import url('//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic');
body {
  padding-top: 60px;
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
  text-rendering: optimizelegibility;
  background-color: #f6f6f6;
  font-size: 18px;
  line-height: 28px;
}
h1 {
  font-size: 46.75px;
}
h1, h2, h3 {
  line-height: 52px;
}
.navbar {
  line-height: 20px;
}
.navbar .brand {
  margin-left: 0;
}
.sidebar img {
 padding-bottom: 16px;
}
code {
  color: #444;
}
li {
  margin-bottom: 5px;
  line-height: 24px;
}
dt, dd {
  line-height: 24px;
}
img {
  display: block;
}

.stars {
  font-size: 14px;
}

/** Service links **/
ul.service-links {
  text-align: center;
  margin: 20px auto 20px auto;
}

ul.service-links li {
  display: inline-block;
  width: 40px;
  height: 40px;
  list-style: none;
  margin-right: 10px;
}

/** Table Sorting **/
th.header {
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
    border-right: 1px solid #dad9c7;
    margin-left: -1px;
}

th.headerSortUp {
    background-image: url(/images/table-asc.gif);
    background-color: #ADD6FF;
}

th.headerSortDown {
    background-image: url(/images/table-desc.gif);
    background-color: #ADD6FF;
}

/** Progress bars **/
.progressbar-container {
  background-color: rgb(192, 192, 192);
  width: 95%;
  border-radius: 15px;
}

.progressbar-bar {
  background-color: rgb(116, 194, 92);
  color: white;
  padding: 1%;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
  height: 15px;
}

.progressbar-bar.empty {
  background-color: rgb(192, 192, 192);
}

/** Progress table **/
.good-eats table {
  width: 100%;
  margin-bottom: 50px;
}

.good-eats table th, .good-eats table td {
  border: 1px solid #aaa;
  padding: 3px 2px 3px 12px;
}

/** Recipe list **/
body.recipe-list .main h2 {
  border-bottom: 1px dotted gray;
}

body.recipe-list .main h2:first-child {
  border-bottom: none;
}

/* Non-mobile specific styles */
@media (min-width: 768px) {
  body.home {
    padding-top: 10px;
  }
  .sidebar {
    position: fixed;
  }
}

/* Mobile specific styles */
@media (max-width: 767px) {
  body {
    padding-top: 0px;
  }
  ul.service-links {
    margin: 10px auto 10px auto;
  }
}
